[submodule "workbench/core"]
	path = workbench/core
	url = https://github.com/Martinistam/core
[submodule "workbench/akismet"]
	path = workbench/akismet
	url = https://github.com/Martinistam/akismet
[submodule "workbench/subscriptions"]
	path = workbench/subscriptions
	url = https://github.com/Martinistam/subscriptions
