[submodule "workbench/core"]
	path = workbench/core
	url = https://github.com/Martinistam/core
[submodule "workbench/akismet"]
	path = workbench/akismet
	url = https://github.com/Martinistam/akismet
[submodule "workbench/subscriptions"]
	path = workbench/subscriptions
	url = https://github.com/Martinistam/subscriptions
[submodule "workbench/mentions"]
	path = workbench/mentions
	url = https://github.com/Martinistam/mentions
[submodule "workbench/approval"]
	path = workbench/approval
	url = https://github.com/Martinistam/approval
