.DS_Store
Thumbs.db
.vagrant
config.php
.idea
vendor
server

#Assets
assets/*.*
assets/fonts/*.*
assets/avatars/*.*

#Storage
storage/cache/*.*
storage/formatter/*.*
storage/less/*.*
storage/logs/*.*
storage/tmp/*.*
storage/views/*

!.gitkeep
